---
http_interactions:
- request:
    method: get
    uri: https://api.slack.com/api/channels.info?channel=C396CPYGB&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 7df962f2-f28b-4c9d-a63b-f43ee316cffa
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Tue, 02 May 2017 20:01:42 GMT
- request:
    method: get
    uri: https://api.slack.com/api/channels.info?channel=C396CPYBG&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - cd737ceb-0751-4ac5-88a5-e2dd5c09be45
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C396CPYBG","name":"ada-announcements","is_channel":true,"created":1480460216,"creator":"U33KPH8S0","is_archived":false,"is_general":false,"name_normalized":"ada-announcements","is_shared":false,"is_org_shared":false,"is_member":true,"last_read":"1493679921.335269","latest":{"type":"message","user":"U3UFLMRE1","text":"Just
        a reminder, keep the Slack spamming to the designated channels, as cute as
        they may be.","ts":"1493679921.335269"},"unread_count":0,"unread_count_display":0,"members":["U33FZD4JX","U33KPH8S0","U33N4KL5T","U38JGSJAY","U38S9TU5P","U391YDBC1","U392XNPT6","U397GTR46","U397K3J64","U39BMK1MX","U39C2CYGY","U39CMQAE5","U39D2JP09","U39E85S65","U39EE260H","U39ET8DQT","U39EV1W4T","U39F60DTM","U39GRUPMG","U39H35674","U39H46VAN","U39HTDZ98","U39J497DG","U39K0AVJQ","U39K1A0GK","U39K4VC4C","U39KGBSBV","U39KVUG92","U39LE4FR9","U39LW83T7","U39MEJ3B7","U39PJDZ1T","U3A4SHL02","U3A5NGDBN","U3A6ZG0AG","U3A78KE3G","U3A798R5L","U3A7B5MRC","U3A7PGK2T","U3A7XFU5C","U3A8LLZHB","U3A912N5V","U3A9RS5AB","U3AAH79KR","U3ABESD6K","U3ANS5Z55","U3AQYULLE","U3AVANZT8","U3B16E3DG","U3B44VBBP","U3B4KUY4V","U3BB8T7UK","U3BBK9ESD","U3BKCV9GW","U3BNYKTCG","U3CGA6VMG","U3FV967D2","U3G4AFLLX","U3HA0R9J7","U3HH4A34H","U3HNFQGQG","U3M9ZMCBA","U3UFLMRE1","U4LB3RQ5Q","U51PHRLTT"],"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[]}}'
  recorded_at: Tue, 02 May 2017 20:07:37 GMT
- request:
    method: get
    uri: https://api.slack.com/api/channels.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - read,client,identify,post,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 88dca007-7f4d-4231-be03-d1[...]
